@import "tailwindcss";
@import "./custom.css";

body,
html {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.register {
background: linear-gradient(135deg, rgba(127, 202, 202, 0.829), rgba(156, 209, 209, 0.486));
}

.register-form{
    background-color: #fff;
    /* border-radius: 8px; */

}

.chat {
    border-radius: 8px;
    /* background: url(./../image/Telegram\ Background.jfif); */
    background-color: rgba(127, 202, 202, 0.438);
}